@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.header{
  margin-top: v.$margin-m;
  @include m.flex-column;

  &__masthead{
    @include m.flex-center;
  }
  &__logo{
    fill: v.$bold-wicker;
    margin-right: v.$margin-xs;
  }
  &__title{
    @include m.main-title;
  }
  &__subtitle{
    @include m.sub-title;
  }
}