@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.category{
  margin: v.$margin-l 0;

  &__container{
    height: 100vh;
    overflow: hidden scroll;
    scrollbar-width: none;
  }
}
.product__container{
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: v.$rem-l;
}