@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.cart{
  &__container{
    border-left: 2px solid v.$green;
    padding: v.$padding-m;
    margin: v.$margin-m 0;
    @include m.flex-column-right;
    justify-content: space-between;
    overflow: hidden scroll;
    scrollbar-width: none;
    height: 90vh; 
  }
  &__product-container{
    overflow: hidden scroll;
    scrollbar-width: none;
  }
  &__empty-button{
    @include m.button;
  }
  &__order-button{
    @include m.button(v.$green)
  }
  &__product-container{
    @include m.flex-column-right;
    margin: v.$margin-m 0;
  }
  &__order-details{
    @include m.flex-column-right;
  }
  &__order-title{
    font-size: v.$rem-l;
    color: v.$bold-green;
    text-transform: uppercase;
  }
}