/* Colors */

$green: #A8C27D;
$bold-green: #3A5525;
$wicker: #F1D0A6;
$bold-wicker: #613B2D;
$main-background: #FFF1E1;
$main-button: #F1D0A6;

/* Font */
$rem-xs: .5rem;
$rem-s: 1rem;
$rem-m: 1.5rem;
$rem-l: 2rem;
$rem-xl: 3rem;


/* Padding */
$padding-xs: .5rem;
$padding-s: .75rem;
$padding-m: 1rem;
$padding-l: 2rem;
$padding-xl: 4rem;

/* Margin */
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1rem;
$margin-l: 2rem;
$margin-xl: 4rem;