@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.footer{
  background-color: v.$wicker;
  padding: v.$padding-m;
  @include m.flex-column;
  
  &__text{
    color: v.$bold-wicker;
  }
}